# Binaries and build artifacts
build/*
build-*
bin/*
contribs/*
appdir/*

# QtCreator temporary project files
Blume.config
Blume.creator*
Blume.files
Blume.includes
Blume.pro.*

# Qt Quick Compiler
qrc_resources.cpp
qmlcache_loader.cpp
qml_*qml.cpp

# QMake temporary project files
Makefile
.qmake.stash

# CMake temporary project files
CMakeLists.txt.user

# XCode related
Debug/*
Release/*
Blume.xcodeproj/*
asset_catalog_compiler.Info.plist

# XCode signatures
assets/ios/ios_signature.pri
assets/macos/macos_signature.pri

# Others
stash/*
.DS_Store
